#Image{
    width: 25%;
    margin: 0 25px;
    border: 1px solid;
    float: left;
}

.table{
    width: 71%;
    margin: 200px 0 0 0;
}



#EditForm{
    display: inline-block;
    margin-top: 125px;
}