#BackgroundImage{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html{
    margin:0;
    height: 100%;
    overflow: hidden;
}

#FrgtPassForm{
    position: absolute;
}